@model IEnumerable<WebStor_GeekBrains.ViewModels.EmployeeViewModelCars>

@{
    ViewData["Title"] = "Employeescars";
}

<h1>Список автомобилей</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfIssue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfIssue)
                </td>
                <td>
                    @Html.ActionLink("Добавить", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Подробно", "EmployeesCarsDetails", new { id = item.Id })
                    @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<thead>
    <tr>
        <td>
            @Html.ActionLink("Главная страница", "index", new { })
        </td>
    </tr>
</thead>

